<a href="https://colab.research.google.com/github/analyst-rhie/Kaggle/blob/main/World_War_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## World War 2
제2차 세계 대전의 공중 폭격 작전과 기상 조건의 다양한 데이터를 활용해보겠다.

순서는 다음과 같다.

1. 데이터 설명과 정리
2. 좀 더 이해하기 쉽도록 시각화

위 2가지 EDA과정의 프로세스를 먼저 진행 후 **폭격이 끝나는 시점을 예측**을 적으로 ARIMA 방법을 사용할 것이다.

* 시각화 라이브러리 중 캐글 코드나 구글 코랩을 사용하지 않고 자신의 컴(오프라인)에서 사용하려면 from plotly.offline import init_notebook_mode 를 import plotly.plotly as py 대신 사용하는데, Anaconda에서 별도로 설치해야 한다.  또한 이미 Plotly가 설치 됬다면 자주 업데이트 하는 것이 좋다.

```html
$ pip install plotly 
$ pip install plotly --upgrade
```

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # visualization library
import matplotlib.pyplot as plt # visualization library
#import plotly.plotly as py # visualization library
from plotly.offline import init_notebook_mode, iplot # plotly offline mode
init_notebook_mode(connected=True) 
import plotly.graph_objs as go # plotly graphical object

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import os
print(os.listdir("/content/drive/MyDrive/Colab Notebooks/WorldWar2"))
# import warnings library
import warnings        
# ignore filters
warnings.filterwarnings("ignore") # if there is a warning after some codes, this will avoid us to see them.
plt.style.use('ggplot') # style of plots. ggplot is one of the most used style, I also like it.
# Any results you write to the current directory are saved as output.

['operations.csv', 'Summary of Weather.csv', 'Weather Station Locations.csv']

In [2]:
# bombing data
aerial = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/operations.csv")
aerial_temp = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/operations.csv")
# first weather data that includes locations like country, latitude and longitude.
weather_station_location = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/Weather Station Locations.csv")
weather_station_location_temp = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/Weather Station Locations.csv")

# Second weather data that includes measured min, max and mean temperatures
weather = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/Summary of Weather.csv")
weather_temp = pd.read_csv("../content/drive/MyDrive/Colab Notebooks/WorldWar2/Summary of Weather.csv")

In [3]:
# drop countries that are NaN
aerial = aerial[pd.isna(aerial.Country)==False]
# drop if target longitude is NaN
aerial = aerial[pd.isna(aerial['Target Longitude'])==False]
# Drop if takeoff longitude is NaN
aerial = aerial[pd.isna(aerial['Takeoff Longitude'])==False]
# drop unused features
drop_list = ['Mission ID','Unit ID','Target ID','Altitude (Hundreds of Feet)','Airborne Aircraft',
             'Attacking Aircraft', 'Bombing Aircraft', 'Aircraft Returned',
             'Aircraft Failed', 'Aircraft Damaged', 'Aircraft Lost',
             'High Explosives', 'High Explosives Type','Mission Type',
             'High Explosives Weight (Pounds)', 'High Explosives Weight (Tons)',
             'Incendiary Devices', 'Incendiary Devices Type',
             'Incendiary Devices Weight (Pounds)',
             'Incendiary Devices Weight (Tons)', 'Fragmentation Devices',
             'Fragmentation Devices Type', 'Fragmentation Devices Weight (Pounds)',
             'Fragmentation Devices Weight (Tons)', 'Total Weight (Pounds)',
             'Total Weight (Tons)', 'Time Over Target', 'Bomb Damage Assessment','Source ID']
aerial.drop(drop_list, axis=1,inplace = True)
aerial = aerial[ aerial.iloc[:,8]!="4248"] # drop this takeoff latitude 
aerial = aerial[ aerial.iloc[:,9]!=1355]   # drop this takeoff longitude

In [8]:
aerial_temp.loc[pd.isna(aerial_temp['Target Longitude'])== False]

        Mission ID Mission Date  ... Bomb Damage Assessment Source ID
0                1    8/15/1943  ...                    NaN       NaN
1                2    8/15/1943  ...                    NaN    9366.0
2                3    8/15/1943  ...                    NaN       NaN
3                4    8/15/1943  ...                    NaN       NaN
4                5    8/15/1943  ...                    NaN   22585.0
...            ...          ...  ...                    ...       ...
178276      178738    2/16/1945  ...                    NaN   35815.0
178277      178739    2/16/1945  ...                    NaN   35020.0
178278      178740    2/16/1945  ...                    NaN   35022.0
178279      178741    2/16/1945  ...                    NaN       NaN
178280      178742    2/16/1945  ...                    NaN   33784.0

[169543 rows x 46 columns]

In [11]:
aerial_temp = aerial_temp.loc[pd.isna(aerial_temp['Target Longitude'])== False]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169543 entries, 0 to 178280
Data columns (total 46 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Mission ID                             169543 non-null  int64
 1   Mission Date                           169543 non-null  object
 2   Theater of Operations                  169095 non-null  object
 3   Country                                120521 non-null  object
 4   Air Force                              120471 non-null  object
 5   Unit ID                                50795 non-null   object
 6   Aircraft Series                        169438 non-null  object
 7   Callsign                               21 non-null      object
 8   Mission Type                           47167 non-null   object
 9   Takeoff Base                           3320 non-null    object
 10  Takeoff Location                       3286 non-null    object
 11  Takeoff Latitude                       2943 non-null    object
 12  Takeoff Longitude                      2942 non-null    float64
 13  Target ID                              118833 non-null  object
 14  Target Country                         169008 non-null  object
 15  Target City                            169531 non-null  object
 16  Target Type                            139986 non-null  object
 17  Target Industry                        117917 non-null  object
 18  Target Priority                        127902 non-null  object
 19  Target Latitude                        169543 non-null  float64
 20  Target Longitude                       169543 non-null  float64
 21  Altitude (Hundreds of Feet)            117266 non-null  float64
 22  Airborne Aircraft                      76123 non-null   float64
 23  Attacking Aircraft                     118912 non-null  float64
 24  Bombing Aircraft                       75441 non-null   float64
 25  Aircraft Returned                      133 non-null     float64
 26  Aircraft Failed                        247 non-null     float64
 27  Aircraft Damaged                       35 non-null      float64
 28  Aircraft Lost                          147 non-null     float64
 29  High Explosives                        34717 non-null   float64
 30  High Explosives Type                   41917 non-null   object
 31  High Explosives Weight (Pounds)        2016 non-null    object
 32  High Explosives Weight (Tons)          139926 non-null  float64
 33  Incendiary Devices                     3282 non-null    float64
 34  Incendiary Devices Type                5517 non-null    object
 35  Incendiary Devices Weight (Pounds)     356 non-null     float64
 36  Incendiary Devices Weight (Tons)       24911 non-null   float64
 37  Fragmentation Devices                  5757 non-null    float64
 38  Fragmentation Devices Type             5752 non-null    object
 39  Fragmentation Devices Weight (Pounds)  194 non-null     float64
 40  Fragmentation Devices Weight (Tons)    15337 non-null   float64
 41  Total Weight (Pounds)                  2117 non-null    float64
 42  Total Weight (Tons)                    158825 non-null  float64
 43  Time Over Target                       680 non-null     object
 44  Bomb Damage Assessment                 104 non-null     object
 45  Source ID                              165535 non-null  float64
dtypes: float64(22), int64(1), object(23)
memory usage: 60.8+ MB